{% extends 'base.html' %} <!--base.html을 불러오기-->



{% block contents %}   <!--고유의 내용이 시작된다-->


<section class="py-5">
    <div class="business-card">
        <img src="/media/e.png">
        <span class="name">이름1</span><br>
        <span class="introduction">소개1</span>
    </div>

    <div class="business-card">
        <img src="/media/h.png">
        <span class="name">이름2</span><br>
        <span class="introduction">소개2</span>
    </div>

    <div class="business-card">
        <img src="/media/a.png">
        <span class="name">이름3</span><br>
        <span class="introduction">소개3</span>
    </div>

</section>

{% endblock %}